<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Employee App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4d80b6;">
<nav class="navbar navbar-light" style="background-color:#175db3;">
    <a href="#" class="navbar-brand"
       style="background-color:#5d94b8;color:#000000;border-width:6px;border-color:#33adff;border-style:solid;border-spacing:20px;border-radius: 3px;">Employee
        App</a>
    <a class="navbar-link btn-sm" href="{% url 'index' %}" style="background-color:#33a0ff;color:#000000;">Show
        Employees</a>
    <a href="{% url 'create' %}" class="navbar-link btn-sm" style="background-color:#33c5ff;color:#000000;">Add
        Employee</a>
</nav>
<br>
{% block content %}
    <div class="card-columns">
        <br>
        {% for s in salaries %}
            <h5 class="card-title">{{ s.employee.name }}</h5>
            <p class="card-text">{{ s }}</p>
            <p class="card-text">{{ s.employee.email }}</p>
            <div class="card-footer bg-transparent border-light">
                <center>
                    <a href="update/{{ s.employee.id }}" class="btn btn-info" id='{{ s.employee.id }}'>Update</a>
                    <a href="delete/{{ s.employee.id }}" class="btn btn-info" id='{{ s.employee.id }}'>Delete</a>
                </center>
            </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>