{% extends 'base.html' %}
{% block content %}
    <center>
        <h6 class="display-4" style="background-color:#000000;color:#99c2ff;">Employee Details</h6>
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <table class='w-10 table table-light' style="border-radius:3px;background-color:#99b6ff;">
                {% for field in employee %}
                    <tr>
                        <th>{{ field.label }}</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}

                {% for s in sal %}
                    <tr>
                        <th>{{ s.label }}</th>
                        <td>{{ s }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-sm btn-info">Submit</button>
        </form>
    </center>
{% endblock %}