<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary</title>
</head>
<body>
 <div class="card-columns">
        {% for s in salaries %}
                    <h5 class="card-title">{{ s.employee.name }}</h5>
                    <p class="card-text">{{ s.bankname }}</p>
                    <p class="card-text">{{ s.salary }}</p>
                    <p class="card-text">{{ s.employee.email }}</p>
                    <div class="card-footer bg-transparent border-dark">
                        <center>
                            <a href="update/{{ s.employee.id }}" class="btn btn-warning" id='{{ s.employee.id }}'>UPDATE</a>
                            <a href="delete/{{ s.employee.id }}" class="btn btn-danger" id='{{ s.employee.id }}'>DELETE</a>
                        </center>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>